---
import type { SanityDocument } from "@sanity/client"
import { loadQuery } from "../../sanity/services/load-query"
import PortableText from "../../components/PortableText.astro"
import Layout from "../../layouts/Layout.astro"

type Post = SanityDocument & { slug: { current: string; _type: string }; title: string }

export async function getStaticPaths() {
	const { data: posts } = await loadQuery<Array<Post>>({ query: `*[_type == "post"]` })

	return posts.map(post => {
		return {
			params: { slug: post.slug.current },
		}
	})
}

const { params } = Astro

const { data: post } = await loadQuery<Post>({
	query: `*[_type == 'post' && slug.current == $slug][0]`,
	params,
})
---

<Layout>
	<h1>A post about {post.title}</h1>
	<PortableText portableText={post.body} />
</Layout>
